service password-encryption
!
hostname AP
!
!
!
aaa new-model
!
aaa group server radius RAD
 server 10.0.0.2 auth-port 1812 acct-port 1813
!
aaa authentication login EAP group radius
!
!
!
dot11 ssid 2.4FH
   vlan 24
   authentication open
   authentication key-management wpa version 2
   mbssid guest-mode
   wpa-psk ascii 7 071F205F5D1E161713
   ! ^^ Sets the password
!
dot11 ssid 5GSpaceLasers
   vlan 5
   authentication open
   authentication key-management wpa version 2
   mbssid guest-mode
   wpa-psk ascii 7 044B0A151C36435C0D
!
dot11 ssid 5GSpaceLasersEnterprise
   vlan 50
   authentication open eap EAP
   authentication network-eap EAP
   authentication key-management wpa version 2
   mbssid guest-mode
!
!
!
bridge irb
!
!
!
interface Dot11Radio0
 no ip address
 ip helper-address 10.0.0.1
 ip helper-address 10.0.24.1
 ip helper-address 10.0.5.1
 !
 encryption mode ciphers aes-ccm
 !
 encryption vlan 1 mode ciphers aes-ccm
 !
 encryption vlan 24 mode ciphers aes-ccm
 !
 encryption vlan 5 mode ciphers aes-ccm
 !
 encryption vlan 50 mode ciphers aes-ccm
 !
 ssid 2.4FH
 !
 antenna gain 0
 mbssid
 station-role root
!
interface Dot11Radio0.1
 encapsulation dot1Q 1 native
 bridge-group 1
!
interface Dot11Radio0.24
 encapsulation dot1Q 24
 bridge-group 24
!
!
!
interface Dot11Radio1
 no ip address
 ip helper-address 10.0.0.1
 ip helper-address 10.0.24.1
 ip helper-address 10.0.5.1
 !
 encryption vlan 5 mode ciphers aes-ccm
 !
 encryption vlan 1 mode ciphers aes-ccm
 !
 encryption vlan 24 mode ciphers aes-ccm
 !
 encryption vlan 50 mode ciphers aes-ccm
 !
 ssid 5GSpaceLasers
 !
 ssid 5GSpaceLasersEnterprise
 !
 antenna gain 0
 peakdetect
 dfs band 3 block
 mbssid
 channel dfs
 station-role root
!
interface Dot11Radio1.1
 encapsulation dot1Q 1 native
 bridge-group 1
!
interface Dot11Radio1.5
 encapsulation dot1Q 5
 bridge-group 5
!
interface Dot11Radio1.50
 encapsulation dot1Q 50
 bridge-group 50
!
!
!
interface GigabitEthernet0
 no ip address
 duplex auto
 speed auto
!
interface GigabitEthernet0.1
 encapsulation dot1Q 1 native
 bridge-group 1
!
interface GigabitEthernet0.5
 encapsulation dot1Q 5
 bridge-group 5
!
interface GigabitEthernet0.24
 encapsulation dot1Q 24
 bridge-group 24
!
interface GigabitEthernet0.50
 encapsulation dot1Q 50
 bridge-group 50
!
!
!
interface BVI1
 mac-address 44d3.ca5a.86ac
 ip address 10.0.0.3 255.255.255.0
 ipv6 address dhcp
 ipv6 address autoconfig
 ipv6 enable
!
!
!
radius-server host 10.0.0.2 auth-port 1812 acct-port 1813 key 7 111918160405041E00
!
bridge 1 route ip
!
!
end
