!
hostname R1
!
!
!
ip dhcp excluded-address 10.0.0.1 10.0.0.4
ip dhcp excluded-address 10.0.24.1 10.0.24.4
ip dhcp excluded-address 10.0.5.1 10.0.5.4
!
ip dhcp pool vlan1
 network 10.0.0.0 255.255.255.0
 default-router 10.0.0.1
 dns-server 9.9.9.9 1.1.1.1
!
ip dhcp pool vlan24
 network 10.0.24.0 255.255.255.0
 default-router 10.0.24.1
 dns-server 9.9.9.9 1.1.1.1
!
ip dhcp pool vlan5
 network 10.0.5.0 255.255.255.0
 default-router 10.0.5.1
 dns-server 9.9.9.9 1.1.1.1
!
ip dhcp pool vlan50
 network 10.0.50.0 255.255.255.0
 default-router 10.0.50.1
 dns-server 9.9.9.9 1.1.1.1
!
!
!
interface GigabitEthernet0/0/0
 no ip address
 ip nat inside
 negotiation auto
!
interface GigabitEthernet0/0/0.1
 encapsulation dot1Q 1 native
 ip address 10.0.0.1 255.255.255.0
 ip nat inside
!
interface GigabitEthernet0/0/0.5
 encapsulation dot1Q 5
 ip address 10.0.5.1 255.255.255.0
 ip nat inside
!
interface GigabitEthernet0/0/0.24
 encapsulation dot1Q 24
 ip address 10.0.24.1 255.255.255.0
 ip nat inside
!
interface GigabitEthernet0/0/0.50
 encapsulation dot1Q 50
 ip address 10.0.50.1 255.255.255.0
 ip nat inside
!
interface GigabitEthernet0/0/1
 ip address dhcp
 ip nat outside
 negotiation auto
!
!
!
ip nat inside source list 1 interface GigabitEthernet0/0/1 overload
ip nat inside source list 5 interface GigabitEthernet0/0/1 overload
ip nat inside source list 24 interface GigabitEthernet0/0/1 overload
ip nat inside source list 50 interface GigabitEthernet0/0/1 overload
!
!
!
access-list 1 permit 10.0.0.0 0.0.0.255
access-list 5 permit 10.0.5.0 0.0.0.255
access-list 24 permit 10.0.24.0 0.0.0.255
access-list 50 permit 10.0.50.0 0.0.0.255
!
!
!
end
